@import url(./fonts.css);

:root{
    --dark:#111517;
    --grey:#848484;
    --bg-color:#FAFAFA;
    --NunitoSans: "NunitoSans";
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0px 15px;
}